:root {
  /* --primary: #3686a8;
  --business: #a19b58;
  --personal: var(--primary);
  --light: #eee;
  --danger: #ff5b57; */
  --black: #000000;
  --background: #333;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}
